@model RCTC.Models.Student

@{
        ViewData["Title"] = "StudentAdmission";
}

<h1 class="content-header pb-3">Student Admission</h1>

<hr />

<div class=" container-fluid pl-3 pr-3">
    <div class="row">
        <div class="col-md-12 ">
            <form enctype="multipart/form-data" asp-action="StudentAdmission" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label> &nbsp;*
                    <input asp-for="FullName" class="form-control"/>
                    <span asp-validation-for="FullName" class="text-danger"></span>

                </div>

                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label asp-for="FathersName" class="control-label"></label>&nbsp;*
                        <input asp-for="FathersName" class="form-control" />
                        <span asp-validation-for="FathersName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="MothersName" class="control-label"></label>
                        <input asp-for="MothersName" class="form-control" />
                        <span asp-validation-for="MothersName" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label asp-for="Profession" class="control-label"></label>&nbsp;*
                        <input asp-for="Profession" class="form-control" />
                        <span asp-validation-for="Profession" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Gender" class="control-label"></label>&nbsp;*
                        <select asp-for="Gender" class="form-control" >
                            <option value="" >Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md-3">
                        <label asp-for="DateofBirth" class="control-label"></label>
                        <input asp-for="DateofBirth" type="date" class="form-control" />
                        <span asp-validation-for="DateofBirth" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label asp-for="Program" class="control-label"></label>&nbsp;*
                        <input asp-for="Program" class="form-control" />
                        <span asp-validation-for="Program" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Cost" class="control-label"></label>&nbsp;*
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Paid" class="control-label"></label>&nbsp;*
                        <input asp-for="Paid" class="form-control" />
                        <span asp-validation-for="Paid" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label asp-for="Contact" class="control-label"></label>&nbsp;*
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="ImageFile" class="control-label">Image</label>
                        <input asp-for="ImageFile" type="file" class="form-control form-control-file" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>&nbsp;*
                    <textarea asp-for="Address" class="form-control" rows="2" id="text-area"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-info btn-block">Register</button>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="reset" class="btn btn-danger btn-block">Clear</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

